/.*_history
/.config/*
/.docker/*
/.lesshst
/.local/*
/.ssh/*
!/.ssh/config
/.viminfo
/.vim/*
/.wget-hsts
/avocado/*
/baseruntime-package-lists/*
/compose/*
/devel/*
/logs/*
/misc/.credentials.*
/mock/*
/modules/*
/modulebuild/*
/override_repo/*
/repos/*
!/repos/syncrepos.sh
/results/*
/rpmbuild/*
/src/*
!/src/fetch.sh
/tests/*
/tmp/*
!*/.keep
/fedtobrew/*
