/.*_history
/.lesshst
/.ssh/*
!/.ssh/config
/.viminfo
/.vim/*
/avocado
/compose
/logs/*
/mbs
/misc/.credentials.*
/mock/*
/modules/*
/repos/*
!/repos/syncrepos.sh
/results/*
/rpmbuild
/src/*
!/src/fetch.sh
/tests/*
!*/.keep
